{% extends "admin/base_site.html" %}

{% block content %}
    <div>
    <form method="POST" id="csv-form" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="csvfile">Select a CSV file:</label>
        <input type="file" id="csvfile" name="csvfile" />
        <br /><br />
        <button class="uploadBtn" id="submit" onclick="document.getElementById('cancel').disabled = true">Upload CSV file</button>
        <button class="cancelBtn" type="button" id="cancel" onclick="history.back();">Cancel upload</button>
    </form>
    </div>
    <br />
{% endblock %}
